body,
html {
  background: url('../img/bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #222;
  font-family: 'Slabo', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

footer,
hgroup {
  margin: 2rem 0;
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  color: #ffc71c;
  font-size: 6rem;
  margin: 0;
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}

.wrapper {
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.wrapper-group {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-flow: row wrap;
}

.wrapper-group > div {
  margin: 10px;
}

.wrapper a {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
}

li {
  margin: 10px;
}

/* ipad portrait */
@media (min-width: 769px) {
  .wrapper-group {
    justify-content: space-around;
  }
}

/* ipad portrait */
@media (max-width: 768px) {
  .wrapper a {
    font-size: 16px;
  }
}

/* iphone 6 plus */
@media (max-width: 414px) {
  .wrapper a {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }
}

/* iphone 5 */
@media (max-width: 320px) {
  .wrapper a {
    font-size: 16px;
  }
}